@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{

padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Oswald';

}

body {

width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: #04128A;

}

.container {

width: 80%;
height: 80vh;
display: flex;
box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);

}

.img-formulário{

width: 50%;
display: flex;
justify-content: center;
background-color: #06269B;


}

.form-header{

margin-bottom: 3rem;
display: flex;
justify-content: space-between;

}

.login-button{

display: flex;
align-items: center;

}

.button-entrar {

background: #EEB902;
border: 3px solid #FFFFFF;
border-radius: 70.5px;
width: 6rem;
height: 2.5rem;
margin-left: 9rem;
margin-top: 1rem;


}

.button-texto{

font-family: 'Oswald';
text-decoration: none;
font-size: 19px;
text-align: center;


}

.grupo-input{

display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 3rem;
background: #EEB902;
border: 3px solid #FFFFFF;
border-radius: 29px;
width: 31rem;
height: 40rem;



}

form{

margin-left: 10rem;

    
}

.input-box{

display: flex;
flex-direction: column;
margin-bottom: 1.3rem;
margin-top: -1rem;

}

.input-box input{

background: #06269B;
border: 3px solid #FFFFFF;
border-radius: 47px;
width: -50rem;
height: 2.5rem;
text-align: center;
color: #FFFFFF;

}

.input-box input:focus-visible{

outline: 1px solid #FFFFFF;

}

.input-box select:focus-visible{

outline: 1px solid #FFFFFF;

}

::placeholder{

color: #FFFFFF;

}

#NomeCompleto{

width: 24.5rem;

}

#CPF{

width: 11.5rem ;

}

#Profissao{

width: 11.4rem;
margin-right: 0em;

}

#Telefone{

width: 11.5rem ;

}

#Data_nascimento{

width: 11.4rem;
margin-right: 0em;

}

.input-box select{

background: #06269B;
border: 3px solid #FFFFFF;
border-radius: 47px;
width: -50rem;
height: 2.5rem;
text-align: center;
color: #FFFFFF;


}

#sexo{

width: 7rem ;

}

#Estado{

width: 7rem;
margin-right: -1rem;

}

#Cidade{

width: 7rem ;
margin-left: 1rem;


}


#email{

width: 24.5rem;
margin-right: -1rem;

}


.Termos_titulo{

text-align: center;
margin-left: 4rem;
font-size: 20px;
margin-top: 0rem;
margin-bottom: 1rem;
color: #06269B;


}


#password{

width: 11.5rem ;

}

#Confirme_password{

width: 11.4rem;
margin-right: 0em;

}

.button_cadastrar button{

background: #06269B;
border: 3px solid #FFFFFF;
border-radius: 47px;
width: 204px;
height: 39px;
margin-top: 1.5rem;
display: flexbox;
margin-left: 6rem;



}

.button_cadastrar a{

font-size: 14px;
text-decoration: none;
color: #FFFFFF;

}

.form-header .titulo h1{

font-size: 1.3rem;
color: #FFFFFF;
margin-top: 1.5rem;
margin-left: 0.4rem;


}

.img-formulário p{

color: #FFFFFF;
display: flex;
font-size: 5rem;
text-align: center;
margin-top: 4rem;

}

.img-formulário img{

margin-top: -6rem;

}

label{

color: #06269B;

}
